/* RaghuMalayalamSans */

@font-face {
	font-family: 'RaghuMalayalam';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url(/downloads/fonts/raghumalayalamsans/RaghuMalayalamSans-Regular.woff2?v=@VERSION@) format('woff2'), url(/downloads/fonts/raghumalayalamsans/RaghuMalayalamSans-Regular.woff?v=@VERSION@) format('woff'), url(/downloads/fonts/raghumalayalamsans/RaghuMalayalamSans-Regular.ttf?v=@VERSION@) format('truetype');
	unicode-range: U+0000-02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}