<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name=theme-color content=#00A7D0>
    <meta name="description" content="Swathanthra Malayalam Computing">
    <meta name="keywords" content="SMC, Swathanthra Malayalam Computing, Malayalam, Community, Wiki, Manjari, Gayathri, Chilanka, AnjaliOldLipi, Dyuthi, Keralayeeyam, Uroob, Rachana, Meera">
    <!-- Do not remove. Required for subdomains managed by Google -->
    <meta name="google-site-verification" content="ctE6-TnD6TKmZ5OU-jTjAAU5mE2sOuRBC42SE-BBCWE" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Swathanthra Malayalam Computing" />
    <meta property="og:url" content="https://smc.org.in" />
    <meta property="og:title" content="Swathanthra Malayalam Computing" />
    <meta property="og:description" content="Swathanthra Malayalam Computing (SMC) is a free software collective engaged in development, localization, standardization and popularization of various Free and Open Source Softwares in Malayalam language." />
    <meta property="og:image" content="<%= BASE_URL %>favicon.ico" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@santhoshtr">
    <meta name="twitter:title" content="Swathanthra Malayalam Computing">
    <meta name="twitter:description" content="Swathanthra Malayalam Computing (SMC) is a free software collective engaged in development, localization, standardization and popularization of various Free and Open Source Softwares in Malayalam language.">
    <meta name="twitter:image" content="<%= BASE_URL %>favicon.ico">
    <meta name="twitter:image:width" content="1200">
    <meta name="twitter:image:height" content="630">

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="shortcut icon" type="image/png" href="<%= BASE_URL %>favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
