<template>
  <v-container class="col-xl-8 col-sm-10 col-xs-12">
    <h1 class="display-3 my-10" v-i18n="'smc-about-heading'"></h1>
    <article>
      <p v-i18n="'smc-desc'"></p>
      <p v-i18n="'smc-about-text-para-1'"></p>
      <p v-i18n="'smc-about-text-para-2'"></p>
      <p v-i18n="'smc-about-text-para-3'"></p>
    </article>
  </v-container>
</template>
