<template>
  <v-container class="raghumalayalamsans col-xl-8 col-sm-10 col-xs-12">
    <main>
      <font-title
        :name="$i18n('raghumalayalamsans')"
        :version="fontdata.version"
        author="Prof. R. K. Joshi (TypeFont Design Director, Visiting Design
          Specialist at C-DAC Mumbai) in association with Mr. Rajith Kumar K. M.
          (TypeFont Designer), assisted by Mr. Nirmal Biswas, Ms. Jui Mhatre and
          Ms. Supriya Kharkar at C-DAC Mumbai (formerly NCST)."
        link="/downloads/fonts/raghumalayalamsans/raghumalayalamsans.zip"
      />

      <section id="header" class="row">
        <v-sheet class="col-12">
          <v-carousel
            cycle
            height="400"
            hide-delimiter-background
            :show-arrows="false"
          >
            <v-carousel-item>
              <v-card
                class="raghumalayalamsans-slide-0 py-auto"
                height="100%"
                align="center"
                color="tranparent"
              >
                <h1 class="display-3 font-weight-thin py-2 my-4">രഘു മലയാളം</h1>
                <h2 class="display-5 font-weight-thin py-2 my-4">
                  യുണിക്കോഡ് അക്ഷരരൂപം
                </h2>
              </v-card>
            </v-carousel-item>
            <v-carousel-item>
              <v-card
                class="raghumalayalamsans-slide-1 py-auto fill-height"
                height="100%"
                align="center"
                color="tranparent"
              >
                <article>
                  <p class="py-2 my-4">
                    RaghuMalayalam is the name of a digital font - a typeface in
                    Malayalam Script to be used for composing text in Malayalam
                    language. It has been originally designed in Open Type
                    Format with Unicode standards and reordering as well as
                    combining characters according to the visual syllable
                    standard of IndiX Compugraphy. This first Version called
                    RaghuMalayalam font Original Version 1.00 (2005) is a
                    non-hinted text face, to be used for continuous text in
                    Malayalm language. And is recommended to be used in minimum
                    14pt. size on screen and 10pt. size on paper (see the README
                    file). The designed letterforms of RaghuMalayalam font in
                    Malayalam script, have elegant structures of thick and thin
                    strokes. Vertical strokes contain a slight curvature and
                    scooped ends. RaghuMalayalam font Original Version 1.00
                    (2005) has been designed and developed, by Prof. R. K. Joshi
                    (TypeFont Design Director, Visiting Design Specialist at
                    C-DAC Mumbai) in association with Mr. Rajith Kumar K. M.
                    (TypeFont Designer), assisted by Mr. Nirmal Biswas, Ms. Jui
                    Mhatre and Ms. Supriya Kharkar at C-DAC Mumbai (formerly
                    NCST). In 2008, developers from swathanthra Malayalam
                    Computing started maintaining the font as a tribute to him.
                    Suresh P modified opentype tables and added more glyphs to
                    make it compatible with modern rendering systems.
                  </p>
                </article>
              </v-card>
            </v-carousel-item>
            <v-carousel-item>
              <v-card
                class="raghumalayalamsans-slide-2 py-auto"
                height="100%"
                align="center"
                color="tranparent"
              >
                <h1 class="py-2 my-4">
                  ഒരു വളപ്പൊട്ടുണ്ടെൻ കയ്യിൽ
                </h1>
                <h1 class="py-2 my-4">
                  ഒരു മയിൽപ്പീലിയുണ്ടെന്നുള്ളിൽ
                </h1>
                <h1 class="py-2 my-4">
                  വിരസ നിമിഷങ്ങൾ സരസമാക്കുവാ-
                </h1>
                <h1 class="py-2 my-4">
                  നിവ ധാരാളമാണെനിക്കെന്നും.
                </h1>
                <p>കുഞ്ഞുണ്ണി മാഷ്</p>
              </v-card>
            </v-carousel-item>
            <v-carousel-item>
              <v-card
                class="raghumalayalamsans-slide-3 py-auto"
                height="100%"
                align="center"
                color="tranparent"
              >
                <article>
                  <h1>കുഞ്ഞുണ്ണി മാഷ്</h1>
                  <aside>മലയാളം വിക്കിപീഡി­യയില്‍ നിന്നും</aside>
                  <p>
                    മലയാളത്തിലെ ആധുനിക കവിക­ളിലൊരാ­ളാണ് കുഞ്ഞു­ണ്ണിമാഷ് (മേയ്
                    10, 1927 - മാർച്ച് 26, 2006)‍. ദാർശ­നിക മേമ്പൊടിയുള്ള
                    ഹ്രസ്വകവി­തകളിലൂടെ ശ്രദ്ധേയ­നായി. ബാലസാ­ഹിത്യ മേഖല­യിൽ
                    ഇദ്ദേഹ­ത്തിന്റെ സംഭാവനകൾ വ്യാപകമായ അംഗീകാരം നേടിയിട്ടുണ്ട്.
                    ഇക്കാര­ണത്താൽ കുട്ടിക്ക­വിതകളാ‍ണ് കുഞ്ഞുണ്ണി­മാഷിന്റെ
                    സവി­ശേഷത എന്ന ധാരണ വേരുറച്ചു പോയിട്ടുണ്ട്.
                  </p>
                  <p>
                    മലയാള­ത്തിലെ ആധുനിക കവിക­ളിലൊരാളാണ് കുഞ്ഞുണ്ണിമാഷ് (മേയ് 10,
                    1927 - മാർച്ച് 26, 2006)‍. ദാർ­ശനിക മേമ്പൊടി­യുള്ള
                    ഹ്ര­സ്വകവിത­കളിലൂടെ ശ്രദ്ധേയനായി. ബാല­സാഹിത്യ മേഖലയിൽ
                    ഇദ്ദേഹത്തിന്റെ സംഭാ­വനകൾ വ്യാപകമായ അംഗീ­കാരം നേടിയിട്ടുണ്ട്.
                    ഇക്കാ­രണത്താൽ കുട്ടിക്കവിത­കളാ‍ണ് കുഞ്ഞുണ്ണിമാഷി­ന്റെ
                    സവി­ശേഷത എന്ന ധാരണ വേരുറച്ചു പോയിട്ടുണ്ട്.
                  </p>
                </article>
              </v-card>
            </v-carousel-item>
          </v-carousel>
        </v-sheet>
      </section>
      <section id="download" class="row">
        <h2 v-text="$i18n('download')" class="col-lg-4 col-md-12"></h2>
        <div class="col-lg-8 col-md-12">
          <ul>
            <li class="my-4 font-weight-bold">
              TTF Format:
              <v-btn
                href="/downloads/fonts/raghumalayalamsans/RaghuMalayalamSans-Regular.ttf"
                color="primary"
                text
              >
                {{ $i18n("regular") }}
              </v-btn>
            </li>
            <li class="my-4 font-weight-bold">
              Webfonts in woff2 format for embedding in webpages. Also see
              <a href="#webfonts">how to use in webpages</a>:
              <v-btn
                href="/downloads/fonts/raghumalayalamsans/RaghuMalayalamSans-Regular.woff2"
                color="primary"
                text
              >
                {{ $i18n("regular") }}
              </v-btn>
            </li>
            <li class="my-4 font-weight-bold">
              All files in compressed zip file:
              <v-btn
                href="/downloads/fonts/raghumalayalamsans/raghumalayalamsans.zip"
                color="primary"
                text
              >
                {{ $i18n("zip") }}
              </v-btn>
            </li>
          </ul>
        </div>
      </section>
      <section id="webfonts" class="row">
        <h2 v-text="$i18n('webfonts')" class="webfonts col-lg-4 col-md-12"></h2>
        <div class="col-lg-8 col-md-12">
          <p>
            To use RaghuMalayalamSans in web pages, webfonts can be used. You
            may copy the following css and add to your website:
          </p>
          <code style="sword-break: break-all;">
            @import url('https://smc.org.in/fonts/raghumalayalamsans.css'); html
            { font-family: 'RaghuMalayalamSans', sans-serif; }
          </code>
        </div>
      </section>
      <section id="license" class="row">
        <h2 v-text="$i18n('license')" class="col-lg-4 col-md-12"></h2>
        <p class="col-lg-8 col-md-12">
          RaghuMalayalamSans is licensed under the
          <a href="http://scripts.sil.org/OFL">SIL Open Font License</a>,
          Version 1.1.
        </p>
      </section>
      <section id="sourcecode" class="row">
        <h2 v-text="$i18n('sourcecode')" class="col-lg-4 col-md-12"></h2>
        <p class="col-lg-8 col-md-12">
          RaghuMalayalamSans typefaces's source code, including svg drawings,
          build scripts are available at
          <a href="https://gitlab.com/smc/fonts/raghumalayalamsans"
            >gitlab repository</a
          >
        </p>
      </section>
      <section id="glyphs" class="row">
        <h2 v-text="$i18n('Available glyphs')" class="col-lg-12"></h2>
        <h4 v-if="fontdata && fontdata.summary" class="col-lg-12">
          {{ fontdata.summary.glyphs }} Glyphs
        </h4>
        <glyphs
          font="RaghuMalayalamSans"
          class="col-lg-12"
          :glyphs="fontdata.glyphs"
        />
      </section>
      <section id="languages" class="row">
        <h2
          v-text="$i18n('Supported languages')"
          class="col-lg-4 col-md-12"
        ></h2>
        <div class="col-lg-8 col-md-12">
          <ul>
            <li>Malayalam</li>
            <li>
              Latin.
            </li>
          </ul>
        </div>
      </section>
      <section id="style-variants" class="row">
        <h2 v-text="$i18n('Style variants')" class="col-lg-4 col-md-12"></h2>
      </section>
      <section id="faq" class="row">
        <h2 v-text="$i18n('faq')" class="col-lg-4 col-md-12"></h2>
        <div class="col-lg-8 col-md-12">
          <h4 id="contribute">Can I help with improving RaghuMalayalamSans?</h4>
          <p>
            Yes you can! RaghuMalayalamSans is an open-source project, meaning
            the source code—or "source design" if you will—that is used to build
            the font files are freely available to improve upon. Font making
            requires a fair bit of technical work and depending on what you'd
            like to do, some things might be more fun depending on your
            technical skills. Please start by reading and exploring the source
            code and design files provided.
          </p>
        </div>
      </section>
    </main>
  </v-container>
</template>

<script>
import { mdiDownload } from "@mdi/js";
import Glyphs from "../components/Glyphs";
import FontTitle from "../components/FontTitle";

export default {
  data: () => ({
    mdiDownload,
    fontdata: {}
  }),
  components: { Glyphs, FontTitle },
  created() {
    return fetch("/downloads/fonts/raghumalayalamsans/RaghuMalayalamSans.json")
      .then(response => response.json())
      .then(data => {
        this.fontdata = data;
      });
  }
};
</script>
<style lang="less">
.raghumalayalamsans section {
  margin: 3em 0;
  .v-card {
    padding: 1em;
  }
}

.raghumalayalamsans-slide-0,
.raghumalayalamsans-slide-1,
.raghumalayalamsans-slide-2,
.raghumalayalamsans-slide-3 {
  font-family: "RaghuMalayalam" !important;
}
.raghumalayalamsans-slide-0 {
  background: linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
}
.raghumalayalamsans-slide-1 {
  background: linear-gradient(to left, #ffeeee, #ddefbb);
  article {
    p {
      text-align: left;
      color: #252425;
      font-size: 1em;
    }
  }

  @media (max-width: 48em) {
    article {
      columns: 1;
      overflow: auto;
    }
  }
}
.raghumalayalamsans-slide-2 {
  background: linear-gradient(to left, #ff512f, #dd2476);
  padding: 40px 20px;
  min-height: 80vh;
  width: 100%;
  h1 {
    font-size: 2em;
    line-height: 1em;
    text-align: center;
    color: #ffffff;
    font-weight: normal;
    margin: 0.4em 0;
  }
  p {
    color: #ffffff;
    width: 50%;
    margin: auto;
    text-align: center;
  }
}

.raghumalayalamsans-slide-3 {
  background: linear-gradient(to right, #ffffff, #f8eeee);
  width: 100%;
  margin: auto;
  padding: 40px 20px;
  p {
    color: #252425;
    margin: auto;
    text-align: left;
    font-size: 1.2em;
  }
  article {
    margin: auto;
    columns: 3;
    column-gap: 0.5em;
    aside {
      color: #95a5a6;
    }
  }
  h1 {
    font-size: 2em;
    color: #e74c3c;
    margin: 0 1em;
  }
  @media (max-width: 48em) {
    article {
      column-count: 1;
      overflow: auto;
    }
  }
}

code {
  padding: 1em;
  display: block;
  white-space: pre-wrap;
  word-break: break-all;
}
</style>
