@import url("./fonts/anjalioldlipi.css");
@import url("./fonts/chilanka.css");
@import url("./fonts/dyuthi.css");
@import url("./fonts/gayathri.css");
@import url("./fonts/karumbi.css");
@import url("./fonts/keraleeyam.css");
@import url("./fonts/manjari.css");
@import url("./fonts/meera.css");
@import url("./fonts/raghumalayalamsans.css");
@import url("./fonts/suruma.css");
@import url("./fonts/uroob.css");
@import url("https://rsms.me/inter/inter.css");

.font-manjari {
    font-family: Manjari, sans-serif !important;;
}


.font-meera {
    font-family: Meera, sans-serif !important;;
}


.font-dyuthi {
    font-family: Dyuthi, sans-serif !important;;
}


.font-chilanka {
    font-family: Chilanka, sans-serif !important;;
}

.font-uroob{
    font-family: Uroob, sans-serif !important;;
}

.font-anjali {
    font-family: Anjali, sans-serif !important;;
}

.font-gayathri {
    font-family: Gayathri, sans-serif !important;;
}

.font-rachana {
    font-family: Rachana, sans-serif !important;;
}

.font-karumbi {
    font-family: Karumbi, sans-serif !important;;
}

.font-keraleeyam {
    font-family: Keraleeyam, sans-serif !important;;
}

.font-suruma {
    font-family: Suruma, sans-serif !important;;
}

.font-raghumalayalam {
    font-family: RaghuMalayalam, sans-serif !important;;
}